details summary { 
    cursor: pointer;
}

details summary > * {
    display: inline;
}

.score_na {
    color: #F40000;
    /*background-image: linear-gradient(rgb(204, 0, 0), rgb(244, 0, 0));*/
}

.score_00 {
    color: #EB1D00;
    /*background-image: linear-gradient(rgb(210, 38, 0), rgb(235, 29, 0));*/
}

.score_10 {
    color: #E23A00;
    /*background-image: linear-gradient(rgb(216, 77, 0), rgb(226, 58, 0));*/
}

.score_20 {
    color: #D95700;
    /*background-image: linear-gradient(rgb(222, 115, 0), rgb(217, 87, 0));*/
}

.score_30 {
    color: #D17400;
    /*background-image: linear-gradient(rgb(228, 154, 0), rgb(209, 116, 0));*/
}

.score_40 {
    color: #C89100;
    /*background-image: linear-gradient(rgb(234, 192, 0), rgb(200, 145, 0));*/
}

.score_50 {
    color: #B99F00;
    /*background-image: linear-gradient(rgb(225, 211, 2), rgb(185, 159, 0));*/
}

.score_60 {
    color: #A39E01;
    /*background-image: linear-gradient(rgb(203, 211, 6), rgb(163, 158, 1));*/
}

.score_70 {
    color: #8E9D02;
    /*background-image: linear-gradient(rgb(181, 211, 10), rgb(142, 157, 2));*/
}

.score_80 {
    color: #789C03;
    /*background-image: linear-gradient(rgb(159, 210, 14), rgb(120, 156, 3));*/
}

.score_90 {
    color: #639B04;
    /*background-image: linear-gradient(rgb(137, 210, 18), rgb(99, 155, 4));*/
}

.score_ac {
    color: #4E9A05;
    /*background-image: linear-gradient(rgb(115, 210, 22), rgb(78, 154, 5));*/
}

.medal_au {
    color: #FFEE55;
}

.medal_ag {
    color: #CCCCCC;
}

.medal_cu {
    color: #B87838;
}
